.allfeeds {
  width:90%;
  max-width:1000px;
  margin: 69px auto;
  box-sizing: border-box;
  

  .section-title {
    clear:both;
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: 300;
    text-transform: lowercase;
    color: rgba(0,0,0,0.6);
    text-shadow: 0.3px 0.3px 0px #fff;
    
    span {
      font-weight: 800!important; 
      padding-left: 3px;
    }
  }
  
  .popular {
    position: relative;
    
    .pop-left, .pop-right {
      opacity: 0.1; 
    }
    
    .pop-left {
      position: absolute;
      top: 0px;
      left: -100%;
      width: 100%;
      height: 100%;
      
      img {
        width: 100%; 
      }
    }
    .pop-right {
      position: absolute;
      top: 0px;
      left: 100%;
      width: 100%;
      height: 100%;
    }
    
    .prev, .next {
      position: absolute;
      top: 0px;
      display: table-cell;
      vertical-align: center;
      background: rgba(255,255,255,0.2);
      font-size: 100px;
      height: 100%;
      line-height: 100%;
      cursor: pointer;
      transition: background 0.2s;
      user-select: none;
      font-family: 'Raleway'
    }
    .prev:hover, .next:hover {
      background: rgba(255,255,255,0.4); 
    }
    .prev {
      left: 0%;
      transform: translate(-100%, 0%);
    }
    .prev:after {
      content: '<';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-30%, -50%) scale(1.0,3.0);
      transition: transform 0.35s;
      opacity: 0.3;
    }
    .prev:hover:after {
      transform: translate(-50%, -50%) scale(1.0,3.0); 
    }
    .next {
      left: 100%;
    }
    .next:after {
      content: '>';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(30%, -50%) scale(1.0,3.0);
      transition: transform 0.35s;
      opacity: 0.3;
    }
    .next:hover:after {
      transform: translate(50%, -50%) scale(1.0,3.0); 
    }
  }
  
  .list-feed {
    padding-bottom: 3em;
    transition: transform 0.1s;
    position: relative;
    
    img {
      width: 60px;
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      border-radius: 6px;
    }
    
    h2 {
      margin: 0px;
      font-size: 0.8em;
      line-height: 1.3em;
      opacity: 0.7;
      padding-bottom: 3px;
    }
    
    h4 {
      margin: 0px;
      font-weight: 200;
      font-size: 0.7em;
      line-height: 1.0em;
      opacity: 0.7;
    }
    
    .timeago {
      font-size: 0.7em;
      text-align: right;
    }
    
    p {
      margin: 0.5em 0px 0px 0px;
      font-size: 0.8em;
      line-height: 1.5em;
      opacity: 0.7;
    }
    .controls {
      position: absolute;
      top: 100%;
      left: 0%;
      width: 100%;
      height: 2em;
      opacity: 0;
      transition: all 0.3s; 
      
      a {
        font-size: 0.8em;
        cursor: pointer;
        opacity: 0.7;
      }
      a:hover {
        opacity: 1.0;
        text-decoration: underline;
      }
    }
    
    .content {
      padding: 7px;
      background: rgba(255,255,255,0.3);
      border-radius: 4px;
      width: 100%;
      height: 100%;
      transition: transform 0.1s; 
      box-shadow: 0.5px 0.5px 0px #fff;
      cursor: pointer;
    }
  }
  
  .list-feed:hover .content {
    transform:  translate3d(0,-1em,0); 
  }
  
  .list-feed:hover .controls {
    transform: translate3d(0,-3em,0); 
    opacity: 1;
  }
  
  .list-feed:nth-of-type(4n+1) {
    padding-right: 1em;
    .controls {
      padding-right: 1em;
    }
  }  
  .list-feed:nth-of-type(4n+2), .list-feed:nth-of-type(4n+3) {
    padding-left: 1em;
    padding-right: 1em;
    .controls {
      padding-left: 1em;
      padding-right: 1em;
    }
  }  
  .list-feed:nth-of-type(4n+4) {
    padding-left: 1em;
    .controls {
      padding-left: 1em;
    }
  }
}

.allfeeds .item {
  overflow: hidden;
  line-height: 0px !important;
  position: relative;
  cursor: pointer;
}

.allfeeds .item img {
  width: 100%; 
  transition: transform 0.35s;
}

.allfeeds .item:hover img {
  transform: scale3d(1.05,1.05,1); 
}

.allfeeds .item::after,
.allfeeds .item::before {
  position: absolute;
  transition: transform 0.35s;
}

.allfeeds .item::after {
  content: attr(data-title);
  top: 0px; left: 0px;
  background: black;
  color: white;
  font-size: 0.7em;
  line-height: 1.3em;
  padding: 0.6em;
  font-family: 'Raleway';
  font-weight: 800;
  transform: translate(0,-100%);
}

.allfeeds .item::before {
  content: attr(data-description);
  bottom: 0px; left: 0px;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 0.7em;
  line-height: 1.3em;
  padding: 0.6em;
  font-family: 'Raleway';
  transform: translate(-100%, 0);
  transition-delay: 0.3s;
  z-index: 20;
}

.allfeeds .item.subscribed {
}

.allfeeds span {
  overflow: hidden;
  line-height: 0px !important;
  position: relative;
}



.allfeeds .item:hover {
    opacity: 1.0;   
}

.allfeeds .item:hover::after,
.allfeeds .item:hover::before { 
  transform: translate(0,0);
}


.allfeeds .toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    transition: 0.2s linear all;
    z-index: 100;
}

.allfeeds .sub-label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    z-index: 100;
    font-size: 2em;
    opacity: 0.8;
    text-shadow: 1px 1px 1px #000;
}
