.allfeeds {
  margin: 80px auto;
}

.allfeeds .item {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 5px !important;
    border: 1px solid #999;
    transition: 0.1s linear all;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    transform-origin: 0% 0%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.allfeeds .item::after,
.allfeeds .item::before {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    color: #fff;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.allfeeds .item::after {
    content: attr(data-title);
    height: 30%;
    top:0;
    background: rgba(251,103,38,0.8);
    font-weight: 900;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
    transform: translateX(-100%);
}

.allfeeds .item::before {
    content: attr(data-description);
    height: 70%;
    top: 30%;
    text-align: left;
    background: rgba(0,0,0,0.9);
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
    transform: translateX(100%);
}

.allfeeds .item.subscribed {
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 9px 6px rgba(255,255,255,0.6);
}

.allfeeds .item h2 {
    background: rgba(255,255,255,0.9);
    position: absolute;
    left: 0px; bottom: 0px;
    font-size: 0.8em;
    line-height: 1.5em;
    width: 100%;
    border-top: 1px solid #999;
    margin: 0px;
    padding: 5px;
    transition: 0.1s linear all;
}

.allfeeds .item:hover {
    opacity: 1.0;   
}

.allfeeds .item:hover::after,
.allfeeds .item:hover::before {
    transform: translateX(0%);   
}


.allfeeds .toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    transition: 0.2s linear all;
    z-index: 100;
}

.allfeeds .sub-label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    z-index: 100;
    font-size: 2em;
    opacity: 0.8;
    text-shadow: 1px 1px 1px #000;
}
