.allfeeds {
  width:90%;
  max-width:1000px;
  margin: 80px auto;
  box-sizing: border-box;
  
  .section-title {
    clear:both;
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: 300;
    text-transform: lowercase;
    color: rgba(0,0,0,0.6);
    text-shadow: 0.3px 0.3px 0px #fff;
    
    span {
      font-weight: 800!important; 
      padding-left: 3px;
    }
  }
  
  .list-feed {
    padding-bottom: 3em;
    transition: transform 0.1s;
    position: relative;
    
    img {
      width: 60px;
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      border-radius: 6px;
    }
    
    h2 {
      margin: 0px;
      font-size: 0.8em;
      line-height: 1.3em;
      opacity: 0.7;
    }
    
    h4 {
      margin: 0px;
      font-weight: 200;
      font-size: 0.7em;
      line-height: 1.0em;
      opacity: 0.7;
    }
    
    p {
      margin: 0.5em 0px 0px 0px;
      font-size: 0.8em;
      line-height: 1.5em;
      opacity: 0.7;
    }
    .controls {
      position: absolute;
      top: 100%;
      left: 0%;
      width: 100%;
      height: 2em;
      opacity: 0;
      transition: all 0.3s; 
    }
    
    .content {
      padding: 7px;
      background: rgba(255,255,255,0.3);
      border-radius: 4px;
      width: 100%;
      height: 100%;
      transition: transform 0.1s; 
      box-shadow: 0.5px 0.5px 0px #fff;
    }
  }
  
  .list-feed:hover .content {
    transform:  translate3d(0,-1em,0); 
  }
  
  .list-feed:hover .controls {
    transform: translate3d(0,-3em,0); 
    opacity: 1;
  }
  
  .list-feed:nth-of-type(4n+1) {
    padding-right: 1em;
    .controls {
      padding-right: 1em;
    }
  }  
  .list-feed:nth-of-type(4n+2), .list-feed:nth-of-type(4n+3) {
    padding-left: 1em;
    padding-right: 1em;
    .controls {
      padding-left: 1em;
      padding-right: 1em;
    }
  }  
  .list-feed:nth-of-type(4n+4) {
    padding-left: 1em;
    .controls {
      padding-left: 1em;
    }
  }
}

.allfeeds .item {
  overflow: hidden;
  line-height: 0px !important;
  position: relative;
}

.allfeeds .item img {
  width: 100%; 
  transition: transform 0.35s;
}

.allfeeds .item:hover img {
  transform: scale3d(0.95,0.95,1); 
}

.allfeeds .item::after,
.allfeeds .item::before {
}

.allfeeds .item::after {
}

.allfeeds .item::before {
}

.allfeeds .item.subscribed {
}



.allfeeds .item:hover {
    opacity: 1.0;   
}

.allfeeds .item:hover::after,
.allfeeds .item:hover::before {
    transform: translateX(0%);   
}


.allfeeds .toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    transition: 0.2s linear all;
    z-index: 100;
}

.allfeeds .sub-label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    z-index: 100;
    font-size: 2em;
    opacity: 0.8;
    text-shadow: 1px 1px 1px #000;
}
