$main-color: #f8b161;

.pure-button {
  background: rgba(255,255,255,0.2); 
  border: 1px solid $main-color;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: $main-color;
  color: #fff;
}