.pure-button {
  background: none; 
  border: 1px solid #f8b161;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #f8b161;
  color: #fff;
}