
    $h3-font-size: rem-calc(22);
    $h6-font-size: 0.9rem;
    $paragraph-font-size: 0.9rem;

    @import
        "settings",
        "ultraicons",
        "foundation";


    .navigation {
        position: fixed;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 44px;
        backround-color: #ff0;
        border-bottom: 2px solid red;
        z-index: 2000;
    }

    .page {
        margin-top: 58px;   
    }

    @media #{$large-up} { 
        h1 {
            color: #ddd;
            margin: 20px 0px;
            font-size: 2em!important;
            font-family: 'Lobster';
            text-shadow: 0px 0px 3px rgba(0,0,0,1.0);
        }
    }

    .sticky {
        position: fixed;
        width: 100%;
    }
    
    .podimg {
        width: 130px; 
        height: 130px; 
        border-radius: 10px; 
        box-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
        margin-top: 10px;
        background-position: center;
    }
    @media #{$small-up} {
        .podimg {
            width: 70px;
            height: 70px;
        }
        
        .subtitle {
            font-size: 0.8em !important;   
        }
    }
    @media #{$medium-up} {
        .podimg {
            width: 130px;
            height: 130px;
        }
        
        .subtitle {
            font-size: 1em !important;   
        }
    }

    html {
        position: relative;   
    }
    /*
    
    SoundManager 2: "page as playlist" example
    ------------------------------------------
    http://schillmania.com/projects/soundmanager2/
    
    */
    
    
    
    ul.playlist {
        list-style-type:none;
        margin:0px;
        padding:0px;
    }
    
    ul.playlist li {
                    /* assume all items will be sounds rather than wait for onload etc. in this example.. may differ for your uses. */
        position:relative;
        display:block;
        
        
    }
    
    ul.playlist li a {
        outline:none;
        position:relative;
        z-index:2;
        width: 100%;
        height: 100%;
        transition: 0.5s linear all;
    }
    
    ul.playlist li.sm2_playing,
    ul.playlist li.sm2_paused,
    ul.playlist li.sm2_playing a {
        
    }
    
    ul.playlist li:hover {
    }
    
    ul.playlist li:hover a {
    }
    
    ul.playlist li.sm2_playing,
    ul.playlist li.sm2_playing:hover {
    }
    
    ul.playlist li.sm2_paused {
    }
    
    ul.playlist li.sm2_playing:hover a,
    ul.playlist li.sm2_paused a {
        color:#8C7486;
    }
    
    ul.playlist li .controls {
        display:none;
        transition: 0.5s linear all;
    }
    
    ul.playlist li .peak,
    ul.playlist.use-peak li .peak {
        display:none;
        position:absolute;
        top:0.55em;
        right:0.5em;
    }
    
    ul.playlist li.sm2_playing .controls,
    ul.playlist li.sm2_paused .controls {
        position:relative;
        display:block;
    }
    
    ul.playlist.use-peak li.sm2_playing .peak,
    ul.playlist.use-peak li.sm2_paused .peak {
        display:inline;
        display:inline-block;
    }
    
    ul.playlist.use-peak li .peak {
        display:none; /* IE 7 */
    }
    
    ul.playlist li.sm2_paused .controls {
    }
    
    ul.playlist li:hover .controls .statusbar {
        position:relative;
        cursor:ew-resize;
        cursor:-moz-grab;
        cursor:grab;
    }
    
    ul.playlist li.sm2_paused .controls .statusbar {
        background-color:#ccc;
    }

    
    ul.playlist li .controls {
        position:relative;
        margin-top:0.25em;
        margin-bottom:0.25em;
        font-size: 2em;
        margin: 10px 15px 0px 15px;
    }
    
    ul.playlist li .controls .statusbar {
        clear:both;
        display: inline-block;
        width: 100%;
        position:relative;
        height:0.7em;
        background-color:#fafafa;
        border:2px solid #fff;
        overflow: hidden;
        border-radius:2px;
        cursor:-moz-grab;
        cursor:grab;
        box-shadow: 0px 0px 1px black;
    }
    
    ul.playlist li .controls.dragging .statusbar {
        cursor:-moz-grabbing;
        cursor:grabbing;
    }
    
    ul.playlist li .controls .statusbar .position,
    ul.playlist li .controls .statusbar .loading,
    ul.playlist li .controls .statusbar .annotation {
        position:absolute;
        left:0px;
        top:0px;
        height:100%;
    }
    
    ul.playlist li .controls .statusbar .position {
        transition: 0.5s linear all;
        background-color:#8C7486;
        border-right:3px solid #8C7486;
        border-radius:3px;
    }
    
    ul.playlist li.sm2_paused .controls .statusbar .position {
        background-color:#666;
        border-color:#666;
    }
    
    ul.playlist li .controls .statusbar .loading {
        background-color:#eee;
    }
    
    ul.playlist li .controls .statusbar .position,
    ul.playlist li .controls .statusbar .loading {
        width:0px;
    }
    
    ul.playlist li.sm2_playing a.sm2_link,
    ul.playlist li.sm2_paused a.sm2_link { /* room for timing stuff     */        
    }   
    
    ul.playlist li .timing {
        pointer-events: none;
        position:absolute;
        display:none;
        text-align:right;
        right:14px;
        width:auto;
        padding:5px 5px 3px 5px;
        margin-top: 8px;
        border:1px solid #8C7486;
        background: rgba(255,255,255,0.8);
        border-radius:4px;
        letter-spacing:0px;
        font:77% monaco,"VT-100","lucida console",courier,system;
        vertical-align:middle;
    }

    @media #{$small-up} {
        ul.playlist li .timing {
            bottom: 30px;
            text-align: left;
        }
    }
     @media #{$medium-up} {
        ul.playlist li .timing {
            top:0em;
            bottom: auto;
        }
    }   
    ul.playlist.use-peak li .timing {
        right:4.25em;
    }
    
    ul.playlist li:hover .timing {
        z-index:2;
    }
    
    ul.playlist li .timing div.sm2_timing {
        margin:0px;
        padding:0px;
        margin-top:-1em;
    }
    
    ul.playlist li.sm2_playing .timing,
    ul.playlist li.sm2_paused .timing {
        display:block;
    }
    
    ul.playlist li.sm2_paused .timing .sm2_position {
        text-decoration:blink; /* hee hee. first actual appropriate use? :D */
    }
    
    ul.playlist li.sm2_paused .timing,  
    ul.playlist.use-peak li.sm2_paused .peak {  
        border-color:#ccc;
    }
    
    /* peak data */
    
    /* ul.playlist ... */
    
    ul.playlist.use-peak li .peak {
        display:none;
        zoom:1;
        border:1px solid #99ccff;
        padding:2px;
        height:0.55em;
        border-radius:4px;
        background-color:#5588bb;
        width:0.8em;
        height:0.55em;
        margin-top:-3px;
    }
    
    ul.playlist.use-peak li .peak-box {
        position:relative;
        width:100%;
        height:0.55em;
        overflow:hidden;
    }
    
    ul.playlist li .peak .l,
    ul.playlist li .peak .r {
        position:absolute;
        left:0px;
        top:0px;
        width:7px;
        height:50px;
        background:#fff;
        border:1px solid #fff;
        border-radius:1px;
        margin-top:1em;
    }
    
    ul.playlist li .peak .l {
        margin-right:1px;
    }
    
    ul.playlist li .peak .r {
        left:10px;
    }
    
    #control-template {
        display:none;
    }

    .allfeeds {
        list-style-type: none;   
    }

    .allfeeds .item {
        float: left;
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        position: relative;
        margin: 5px;
        border: 1px solid #999;
        opacity: 0.3;
        transition: 0.1s linear all;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
    }

    .allfeeds .item::after,
    .allfeeds .item::before {
        position: absolute;
        width: 100%;
        height: 50%;
        color: #fff;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
    }

    .allfeeds .item::after {
        content: attr(data-title);
        top:0;
        background: #0083ab;
        font-weight: 600;
        padding: 0px;
        transform: translateY(-0%);
    }

    .allfeeds .item::before {
        content: attr(data-description);
        top: 50%;
        background: #f27545;
        font-size: 14px;
        padding: 20px;
        transform: translateY(0%);
    }

    .allfeeds .item.subscribed {
        opacity: 1.0;   
    }

    .allfeeds .item h2 {
        background: rgba(255,255,255,0.9);
        position: absolute;
        left: 0px; bottom: 0px;
        font-size: 0.8em;
        line-height: 1.5em;
        width: 100%;
        border-top: 1px solid #999;
        margin: 0px;
        padding: 5px;
        transition: 0.1s linear all;
    }

    .allfeeds .item:hover {
        opacity: 1.0;   
    }

    .allfeeds .item:hover::after,
    .allfeeds .item:hover::before {
        transform: translateY(0%);   
    }
    

    .allfeeds .toggle {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        transition: 0.2s linear all;
    }

    .nav {
        position: fixed;
        top: 0px; left: 0px;
        width: 100%;
        z-index: 1000;
    }

    .header {
        background-image: url(http://33.media.tumblr.com/ab93cebbefa4b5b72ccb5c9c63bddf28/tumblr_naj39vH5ad1st5lhmo1_1280.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 100%;
        display: none;
        
    }

    /*.playlist {
        padding-top: 260px!important;   
    }*/