'use strict';

module.exports = {
  MONGOHQ_URL: 'http://127.0.0.1',
  SESSION_SECRET: '',
  TWITTER_KEY: '',
  TWITTER_SECRET: '',
  FACEBOOK_KEY: '',
  FACEBOOK_SECRET: '',
  GITHUB_KEY: '',
  GITHUB_SECRET: '',
  CLOUDINARY_NAME: '',
  CLOUDINARY_KEY: '',
  CLOUDINARY_SECRET: ''
};