<div class="pure-g item" ng-show="item.data.enclosure[0]" id="item_{{item.id}}">
    <div class="pure-u-1-6">
        <a ng-click="togglePlay(item)">
            <div style="background-size: cover; " class="podimg thumbnail"></div>
        </a>
    </div>
    <div class="pure-u-5-6">  
        <a ng-click="togglePlay(item)">
            <h3><span class="icon-svg542"> </span>{{item.data.title[0]}}</h3>
        </a>
        <h6><small><span class="icon-svg30"></span> {{item.pubDate | date:'EEE, dd/MM/yyyy, hh:mma'}}</small> <a href="/feed-{{item.feed.id}}/alltime/all/desc"><code><span class="icon-svg40"></span> {{item.feed.data.title}}</code></a></h6>
        <a ng-click="togglePlay(item)">
            <div class="subtitle">{{item.data.description[0]}}</div>
            <h6 class="links"><a href="/feed-{{item.feed.id}}/alltime/all/desc"><span class="icon-svg40"></span> Show all</a></h6>
            
            <div class="controls">
              <div class="statusbar">
                <div class="loading"></div>
                <div class="position"></div>
              </div>
            </div>

            <div class="timing">
              <div id="sm2_timing" class="timing-data">
                <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span>
              </div>
            </div>

        </a>
    </div>
</div>