<form name="myForm" class="pure-form login" ng-submit="submit()">
    <h1 class="big-icons"><span class="icon-svg542"> </span><span class="icon-svg40"></span></h1>
    <h3 class="login-message">Log In or Sign Up</h3>
    <fieldset class="pure-group">
        <input ng-model="user.username" class="pure-input-1" type="text" name="user" required  placeholder="Username" />
        <input ng-model="user.password" class="pure-input-1" type="password" name="pass" required placeholder="Password" />
        <div class="pure-g">
            <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Login</button>
            <button type="button" class="pure-button pure-input-1-2" ng-click="signup()">Sign Up</button>
        </div>
    </fieldset>
</form>