<div class="page" ng-hide="user.user">
  <h1>podcaddy<small>beta</small></h1>
  <p class="text-center">a place for listening to and finding podcasts</p>
   <div class="pure-g" ng-show="lazyLoad.items">
    <div class="no-overflow">
      <div class="popular faded" ng-init="limit=10">
        <span ng-repeat="feed in lazyLoad.items | orderBy:'-listensWeek' | limitTo:limit | limitTo:-10" feed="feed" class="pure-u-1-5">
          <img ng-src="{{feed.cloudinary.secure_url}}" />
        </span>  
        <div class="pop-left">
          <span ng-repeat="feed in lazyLoad.items | orderBy:'-listensWeek' | limitTo:(limit+20) | limitTo:-10" feed="feed" class="pure-u-1-5">
            <img ng-src="{{feed.cloudinary.secure_url}}" />
          </span>       
        </div>
        <div class="pop-right">
          <span ng-repeat="feed in lazyLoad.items | orderBy:'-listensWeek' | limitTo:(limit+10) | limitTo:-10" feed="feed" class="pure-u-1-5">
            <img ng-src="{{feed.cloudinary.secure_url}}" />
          </span>             
        </div>
        <div class="login-form" ng-hide="user.user">
          <p>login or signup</p>
          <form name="loginForm" novalidate ng-submit="login()" class="pure-form">
            <fieldset class="pure-group">
              <input type="email" name="email" class="pure-u-1" required ng-model="userform.email" placeholder="Email address" />
              <small class="error pure-u-1 text-right" ng-show="submitted && loginForm.email.$error.email">Please use a valid looking email address</small>
              <small class="error pure-u-1 text-right" ng-show="submitted && loginForm.email.$error.required">Please enter a valid looking email address</small>
              <br />
              <input type="password" name="password" class="pure-u-1" required ng-model="userform.password" placeholder="Password" />
              <small class="error pure-u-1 text-right" ng-show="submitted && loginForm.password.$error.required">A password is required</small>
            </fieldset>
            <br />
            <div class="pure-g">
              <input type="submit" class="pure-button pure-u-1-2 pure-button-primary" value="login" />
              <input type="button" class="pure-button pure-u-1-2" value="sign up" ng-click="signup()">
            </div>
            <div class="pure-g text-center">
            <p class="pure-u-1">or use one of these...</p>
            <a href="/api/twitter" class="pure-u-1-3" target="_self"><i class="icomoon-twitter"></i> Twitter</a>
            <a href="/api/facebook" class="pure-u-1-3" target="_self"><i class="icomoon-facebook"></i> Facebook</a>
            <a href="/api/github" class="pure-u-1-3" target="_self"><i class="icomoon-github"></i> Github</a>
            </div>
          </form>
        </div>  
      </div> 
    </div>
  </div>


</div>