<form name="loginForm" novalidate ng-submit="login()" class="pure-form login-form" ng-hide="user.user">
  <h1>podcaddy<small>beta</small></h1>
  <fieldset class="pure-group">
    <input type="email" name="email" class="pure-u-1" required ng-model="userform.email" placeholder="Email address" />
    <small class="error pure-u-1 text-right" ng-show="submitted && loginForm.email.$error.email">Please use a valid looking email address</small>
    <small class="error pure-u-1 text-right" ng-show="submitted && loginForm.email.$error.required">Please enter a valid looking email address</small>
    <br />
    <input type="password" name="password" class="pure-u-1" required ng-model="userform.password" placeholder="Password" />
    <small class="error pure-u-1 text-right" ng-show="submitted && loginForm.password.$error.required">A password is required</small>
  </fieldset>
  <br />
  <div class="pure-g">
    <input type="submit" class="pure-button pure-u-1-2 pure-button-primary" value="login" />
    <input type="button" class="pure-button pure-u-1-2" value="sign up" ng-click="signup()">
  </div>
  <div class="pure-g text-center">
  <p class="pure-u-1">Or login with one of these...</p>
  <a href="/api/twitter" class="pure-u-1-3" target="_self"><i class="icomoon-twitter"></i> Twitter</a>
  <a href="/api/facebook" class="pure-u-1-3" target="_self"><i class="icomoon-facebook"></i> Facebook</a>
  <a href="/api/github" class="pure-u-1-3" target="_self"><i class="icomoon-github"></i> Github</a>
  </div>
</form>

<div ng-show="user.user"><a ng-click="logout()">Log out</a></div>

<div ng-if="user.user" ng-controller="PageplayerCtrl">
  <div class="playlist">
    <audioitem ng-repeat="item in lazyLoad.items | listened | filter:search.url | orderBy:(nav.filters.direction==='desc')?'-pubDate':'pubDate'" item="item"></audioitem>
  </div> 
</div>