
<div class="allfeeds">
  <div class="pure-g">
    <!--<h2 ng-show="lazyLoad.items.length>0">Select some feeds then start listening <a href="/">here</a></h2>-->
    <div class="no-overflow">
      <div class="popular" ng-init="limit=10">
        <allfeedsitem ng-repeat="feed in lazyLoad.items | orderBy:'-listensWeek' | limitTo:limit | limitTo:-10" feed="feed" class="pure-u-1-5">
        </allfeedsitem>
        <div class="pop-left">
          <span ng-repeat="feed in lazyLoad.items | orderBy:'-listensWeek' | limitTo:(limit+20) | limitTo:-10" feed="feed" class="pure-u-1-5">
            <img ng-src="{{feed.cloudinary.url}}" />
          </span>       
        </div>
        <div class="pop-right">
          <span ng-repeat="feed in lazyLoad.items | orderBy:'-listensWeek' | limitTo:(limit+10) | limitTo:-10" feed="feed" class="pure-u-1-5">
            <img ng-src="{{feed.cloudinary.url}}" />
          </span>             
        </div>
        <div class="prev" ng-click="limit = limit - 10" ng-show="limit>10">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="next" ng-click="limit = limit + 10" ng-show="limit<lazyLoad.items.length">&nbsp;&nbsp;&nbsp;&nbsp;</div>
      </div>
    </div>

    <div class="section-title pure-u-1"><br /></div>
    <div ng-repeat="cat in ['Comedy','Technology','TV & Film','Arts','Entertainment','Games & Hobbies','Health','Music','News','Politics','Religion','Spirituality','Science','Culture','Sports']" class="pure-u-1-5 pure-button" ng-class="{'pure-button-primary':$parent.category===cat}" ng-click="$parent.category=cat">{{cat}}</div>
    <div class="section-title pure-u-1"><br /></div>
  </div>
  <div class="pure-g" ng-init="category=['Comedy','Technology']">
    <directoryitem ng-repeat="feed in lazyLoad.items | orderBy:'title' | filter:{categories:category} | filter:search.url" feed="feed">
    </directoryitem>
  </div>
  <div class="text-center">
      <a class="pure-button" ng-click="initFeeds()" ng-show="lazyLoad.items.length===0&&!fetchingFeeds">Oh no! There are no feeds.  Click Me to change that</a>
      <div class="progress" ng-show="fetchingFeeds"><span class="icon-svg772"></span> &nbsp;&nbsp;Fetching feeds &nbsp;&nbsp;<span class="icon-svg792"></span>
      <br /><br />This could take a while, watch the console and refresh this page when it calms down.</div>
  </div>
</div>
