<p>{{ user.user.local.email }}</p>
<a href="/api/connect/twitter" target="_self" ng-hide="user.user.twitter.token">Connect Twitter</a>
<a href="/api/unlink/twitter" target="_self" ng-show="user.user.twitter.token">Unlink Twitter</a>
<a href="/api/connect/facebook" target="_self" ng-hide="user.user.facebook.token">Connect Facebook</a>
<a href="/api/unlink/facebook" target="_self" ng-show="user.user.facebook.token">Unlink Facebook</a>
<a href="/api/connect/github" target="_self" ng-hide="user.user.github.token">Connect Github</a>
<a href="/api/unlink/github" target="_self" ng-show="user.user.github.token">Unlink Github</a>
